.trans{
  overflow: hidden;
  height: 600px;
}

.trans .face{
  background: #fafafa;
}

.face {
  width: 230px;
  height: 600px;
  z-index: 1;
  overflow: hidden;
}

.face h2 {
  height: 30px;
  line-height: 30px;
  padding-left: 22px;
  font-size: 18px;
  background: #e6e6e6;
  color: #666;
}

.face .ad {
  display: block;
  background: url('/images/ad.png');
  width: 183px;
  height: 87px;
  margin: 130px auto 84px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.front .why {
  display: block;
  text-decoration: underline;
  text-align: center;
}
.backInput{
  height: 32px;
  padding: 12px;
}
.backInput input{
  height: 26px;
  padding: 0 18px;
}
.face textarea{
  width: 210px;
  height: 96px;
  margin-top: 14px;
  margin-left: 10px;
}
.return{
  display: block;
  margin-top: 30px;
  margin-left: 65px;
  width: 100px;
  height: 26px;
  border-radius: 26px;
  border: 1px solid #999;
  color: #999;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
