.header{
  height:30px;
  background: #333;
}
.headLeft{
  float: left;
  margin-left: 22px;
}
.headLeft img{
  margin-top: 7px;
  margin-right: 18px;
  float: left;
}
.headLeft span a{
  float: left;
  color: #999;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 12px;
  border-left: 1px solid #636363;
}
.headRight{
  float: right;
  width: 130px;
}
.headRight a{
  color: #999;
  font-size: 14px;
}
.headRight span a{
  float: left;
  margin-top: 6px;
  height: 18px;
  line-height: 18px;
  padding-right: 14px;
  border-right: 1px solid #636363;
}
.headRight e a{
  float: left;
  line-height: 30px;
  margin-left: 12px;
}
