.headerNav {
  height: 55px;
  background: #fafafa;
}

.nav, .article {
  width: 1029px;
  margin: 0 auto;
}

.nav img {
  margin-top: 3px;
  margin-left: 20px;
  float: left;
}

.country {
  float: left;
  margin: 26px 42px 0 39px;
  height: 18px;
  line-height: 18px;
  position: relative;
}

.country span {
  font-size: 18px;
  font-weight: bold;
}

.country e {
  font-size: 12px;
  color: #b3b3b3;
}

#chioceCountry {
  position: absolute;
  display: none;
  margin-top: 9px;
  z-index: 2;
}

#chioceCountry li {
  width: 120px;
  border: 1px solid #d4d4d4;
  line-height: 32px;
  background: #fff;
}

#chioceCountry a {
  display: block;
  width: 100%;
  height: 100%;
}

#chioceCountry li a:hover {
  background: #fafafa;
}

.nav ul {
  float: left;
  font-size: 19px;
  text-align: center;
  margin-top: 16px;
}

.nav li {
  float: left;
  width: 188px;
  height: 32px;
  border-right: 1px solid #d4d4d4;
}

.nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #9c9c9c;
}

#noBorder {
  border-right: 0;
}

.active {
  color: #212121;
  font-weight: bold;
  border-bottom: 4px solid #6e3fff;
}

.article {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.articleLeft, .mineMenu {
  float: left;
  width: 228px;
  padding-top: 22px;
  background: #fafafa;
  position: relative;
}

.mineMenu .head {
  width: 230px;
  height: 188px;
  background: url('/images/headBG.png') no-repeat;
}

.mineMenu .head img {
  width: 96px;
  border-radius: 96px;
  margin-left: 67px;
  margin-top: 26px;
}

.mineMenu .phoneNum h2 {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  color: #a2a2a2;
  background: #e6e6e6 url('/images/phone.png') 20px center no-repeat;
}

.mineMenu .phoneNum div {
  padding: 16px 12px;
  overflow: hidden;
}

.mineMenu .phoneNum input {
  width: 120px;
  float: left;
  height: 27px;
  font-size: 12px;
  padding: 0 10px;
}

.mineMenu .phoneNum span {
  margin-top: 3px;
  width: 42px;
  height: 21px;
  float: right;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background: #e6e6e6;
}

.mineMenu .phoneNum h5 {
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  color: #808080;
}

.mineMenu .suggestion h2 {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  color: #a2a2a2;
  background: #e6e6e6 url('/images/suggestion.png') 20px center no-repeat;
}

.mineMenu .suggestion textarea {
  width: 205px;
  height: 150px;
  margin: 12px;
}

.mineMenu .suggestion span {
  display: block;
  width: 42px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background: #e6e6e6;
  position: absolute;
  right: 20px;
  bottom: 26px;
}

.title {
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #7e7e7e;
  background: #e6e6e6;
}

.option li {
  width: 228px;
  height: 32px;
  line-height: 32px;
  text-align: left;
  font-size: 14px;
}

.option a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 22px;
  color: #7e7e7e;
}

.option a:hover {
  background: #fff;
}

.optionActive a{
  color: #726eff;
  background: #fff;
}

.cityList {
  padding-bottom: 30px;
}

.jobType {
  overflow: hidden;
}

.jobType li {
  width: 112px;
  float: left;
}

.search {
  margin-top: 18px;
  height: 56px;
}

.search a {
  display: block;
  margin: 0 auto;
  width: 138px;
  height: 34px;
  color: #fff;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  background: url(/images/search.png) no-repeat;
}

.articleRight {
  float: right;
  width: 762px;
}

.sort, .mineNav {
  margin-top: 22px;
  background: #fafafa;
  width: 100%;
  height: 38px;
  font-size: 18px;
}

.sort li, .mineNav li {
  float: left;
}

.sort a {
  display: block;
  width: 148px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #989898;
}

.mineNav a {
  display: block;
  width: 366px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #989898;
}

.sortActive {
  background: #fff;
  border-top: 2px solid #6e3fff;
}

.list li {
  padding: 24px 0 14px 0;
  border-bottom: 1px dotted #e6e6e6;
  position: relative;
}

.listTitle {
  width: 100%;
  overflow: hidden;
}

.listTitle h2 {
  float: left;
  font-size: 17px;
  color: #726eff;
  padding-left: 28px;
}

.listTitle span {
  float: right;
  padding-right: 28px;
  font-size: 13px;
  color: #ff2222;
  font-weight: bold;
}

.jobWelfareName {
  width: 706px;
  background: #fafafa;
  padding: 7px 28px;
  overflow: hidden;
}

.jobWelfareName dl {
  float: left;
  overflow: hidden;
}

.jobWelfareName span {
  float: right;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #888;
}

.jobWelfareName dd {
  float: left;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #e2e2e2;
  margin-right: 6px;
}

.myPublishButtom {
  overflow: hidden;
  margin-top: 10px;
  padding-left: 28px;
}

.myPublishButtom a {
  float: left;
  width: 30px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding: 6px;
  margin-right: 10px;
}

.myPublishButtom a img {
  position: absolute;
  top: 20px;
  left: 360px;
  z-index: 1;
  transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  /* IE 9 */
  -moz-transform: rotate(14deg);
  /* Firefox */
  -webkit-transform: rotate(14deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(14deg);
  /* Opera */
}

.details {
  display: none;
  font-size: 20px;
  color: #808080;
  padding: 16px 28px;
}

.company {
  width: 706px;
  padding: 0 28px;
  overflow: hidden;
}

.company img {
  width: 38px;
  float: left;
}

.company .companyName {
  width: 652px;
  padding: 4px 8px;
  float: left;
  font-size: 13px;
  color: #9f9f9f;
}

.company .companyInfo {
  width: 652px;
  padding: 0 8px;
  float: left;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  color: #808080
}

.tel {
  position: relative;
  display: none;
}

.tel img {
  width: 320px;
  margin: 18px 28px;
}

.collection {
  width: 58px;
  height: 22px;
  position: absolute;
  right: 28px;
  bottom: 70px;
}

.unlike {
  background: url('/images/unlike.png') no-repeat;
}

.like {
  background: url('/images/like.png') no-repeat;
}

.phone {
  background: url('/images/tel.png') no-repeat;
  height: 24px;
  padding-left: 40px;
  font-size: 16px;
  color: #888;
  position: absolute;
  right: 28px;
  bottom: 30px;
}

.recruit, .recruitSomeone {
  width: 710px;
  height: 600px;
  overflow-y: scroll;
  position: fixed;
  margin-left: 400px;
  z-index: 10;
  background: #fff;
}

.recruit h2, .recruitSomeone h2 {
  height: 30px;
  line-height: 30px;
  padding-left: 22px;
  font-size: 18px;
  background: #e6e6e6;
  color: #666;
}

.recruit .backInput a, .recruitSomeone .backInput a, .recruitSomeone .someoneType a {
  float: left;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  margin-right: 20px;
}

.recruitSomeone .someoneType {
  padding: 12px;
  overflow: hidden;
}

.backInput label {
  font-size: 18px;
  margin-right: 12px;
}

.backInput label span {
  color: #ff0000;
}

.recruit .backInput input, .recruitSomeone .backInput input {
  font-size: 13px;
  width: 500px;
}

.backInput form img {
  height: 32px;
  margin: 0 30px;
}

.recruit h3, .recruitSomeone h3 {
  font-size: 18px;
  padding: 10px 22px;
  color: #666;
  font-weight: 0;
}

.recruit textarea, .recruitSomeone textarea {
  padding: 18px 12px;
  margin: 0 22px;
  width: 600px;
  height: 200px;
  font-size: 14px;
}

.recruit #submit, .recruitSomeone #submit {
  width: 147px;
  height: 37px;
  border-radius: 37px;
  background: #6e3fff;
  color: #fff;
  text-align: center;
  line-height: 37px;
  font-size: 18px;
  float: right;
  margin: 20px 36px 34px;
}

.recruit .recruitActive, .recruitSomeone .recruitActive{
  padding: 0 5px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  color: #cd0200;
}

.border-top {
  border-top: 1px #6e3fff dotted;
}

.publishSom a {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 90px;
  background: url('/images/publishSom.png') center center no-repeat;
  background-size: 200px auto;
}
