<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>工作详情</title>
<link href="../../static/css/views/router/details.css?b88cce7dbe3acd5bd83b" rel="stylesheet"></head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="../../static/js/vendor.js?b88cce7dbe3acd5bd83b"></script><script type="text/javascript" src="../../static/js/views/router/details.js?b88cce7dbe3acd5bd83b"></script></body>

</html>
